---
layout: default
---
<ul class="tag-cloud" style="text-align: center; margin-bottom: 100px;">
{% for tag in site.tags %}
  <span style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a href="/tags/#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a> &nbsp;&nbsp;
  </span>
{% endfor %}
</ul>

<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<style type="text/css">
	.tagBall{width:800px;height:800px;margin:50px auto;position:relative;}
	.tag{display:block;position:absolute;left:0px;top:0px;color:#000;text-decoration:none;font-size:15px;font-weight:bold;}
	.tag:hover{border:1px solid #666;}
</style>
<script src="public/js/cloudTag.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.tagBall').cloudTag({ballSize:200});
	});
</script>
<div class="tagBall">
	{% for tag in site.tags %}
		<a class="tag" href="/tags/#{{ tag | first | slugize }}">{{ tag | first }}</a>
	{% endfor %}
</div>