---
layout: page
title: Note
---
<ul class="titles" style="margin-top: 200px;">
{% for post in site.categories.Note %}
  {% if post.title != null %}
    <li>
      <div style="color:#aaa; font-size: 16px;">
      {{ post.date | date: "%b %d, %Y" }}»&nbsp;<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>&nbsp;
	  <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread" style="color:#aaa; font-size:14px;"></a>
      <div>
    </li>  
  {% endif %}
{% endfor %}
</ul>
