---
layout: page
permalink: /tags/
---

<ul class="tag-cloud">
{% for tag in site.tags %}
  <span style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a href="#{{ tag | first | slugize }}" class="scroll">
      {{ tag | first }}
    </a> &nbsp;&nbsp;
  </span>
{% endfor %}
</ul>

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h3 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
    <a name="{{ tag_name | slugize }}"></a>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <small><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></small>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
<script src="public/js/jquery-1.11.1.min.js"></script>
<script>
jQuery(document).ready(function($) {

	$(".scroll").click(function(event){
		var hash = this.hash;
		
		event.preventDefault();
		$(document).ready(function(){
			$('html,body').animate({scrollTop:$(hash).offset().top}, 1000, function(){
			window.location.hash = hash;
			});
		});
	});
});
</script>