---
layout: default
---

<div class="post">
  <h3 class="post-title">{{ page.title }}</h3>
  <span class="post-date"><small>{{ page.date | date_to_string }}</small></span>
  {% include post_tags.html %}
  <br/>
  {{ content }}
</div>
<div class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <small>
          <a href="{{ post.url }}">
            {{ post.title }}{{ post.date | date_to_string }}
          </a>
        </small>
      </li>
    {% endfor %}
  </ul>
</div>
